<?xml version="1.0"?>
<!--
    Nota: como alternativa para editar manualmente este archivo, puede utilizar la 
    herramienta Administración de sitios web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="db_central" connectionString="Data Source=172.16.0.97,1433;Initial Catalog=RANDOM;User ID=RANDOM;Password=RANDOM" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!--
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor en true 
            sólo durante la depuración.

            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de tipos de datos 
            en las que se pueda producir pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!--
            La sección <authentication> permite la configuración 
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows"/>
    <!--
            La sección <customErrors> permite configurar las 
            acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar 
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!--
              Elimine los comentarios de esta sección para habilitar el servicio de autenticación. Incluya 
              requireSSL="true" si es pertinente.

          <authenticationService enabled="true" requireSSL = "true|false"/>
          -->
        <!--
              Elimine los comentarios de estas líneas para habilitar el servicio del perfil y elegir las 
              propiedades del perfil que se pueden recuperar y modificar en las aplicaciones 
               ASP.NET AJAX.

          <profileService enabled="true"
                          readAccessProperties="propertyname1,propertyname2"
                          writeAccessProperties="propertyname1,propertyname2" />
          -->
        <!--
              Elimine los comentarios de esta sección para habilitar el servicio de función.

          <roleService enabled="true"/>
          -->
      </webServices>
      <!--
        <scriptResourceHandler enableCompression="true" enableCaching="true" />
        -->
    </scripting>
  </system.web.extensions>
  <!--
        La sección webServer del sistema es necesaria para ejecutar ASP.NET AJAX en Internet
        Information Services 7.0. Sin embargo, no es necesaria para la versión anterior de IIS.
    -->
  <system.serviceModel>
    <services>
      <service name="WebService_BakApp.Service1" behaviorConfiguration="WebService_BakApp.Service1Behavior">
        <!-- Service Endpoints -->
        <endpoint address="" binding="wsHttpBinding" contract="WebService_BakApp.IService1">
          <!--
              Antes de la implementación, se debe quitar o reemplazar el siguiente elemento de identidad para reflejar la 
              identidad bajo la que funciona el servicio implementado. Si se quita, WCF deducirá automáticamente una identidad 
              apropiada.
          -->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WebService_BakApp.Service1Behavior">
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente como false y quite el extremo superior de los metadatos antes de la implementación -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>